@{
    ViewData["Title"] = "Home Page";
}

<br />
<h2 class="text-center">Лебедченко Валерія К19-1</h2>
<h2 class="text-center">Tic-tac-toe</h2>
<br />

<div class="wrap">
    <div class="area">
        <div class="cssfield field" id="a1"></div>
        <div class="cssfield field" id="a2"></div>
        <div class="cssfield field" id="a3"></div>
        <div class="cssfield field" id="b1"></div>
        <div class="cssfield field" id="b2"></div>
        <div class="cssfield field" id="b3"></div>
        <div class="cssfield field" id="c1"></div>
        <div class="cssfield field" id="c2"></div>
        <div class="cssfield field" id="c3"></div>
    </div>
    <div class="result">
        <div class="winner"></div>
        <button class="btn btn-game btn-block">Играть заново</button>
    </div>
</div>